RewriteEngine On 

#RewriteBase /server/api/ 
RewriteBase /~user4/php7/rest/server/api/
RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^.*$ index.php 
DirectorySlash Off
