.card{
    width:  33%;
    float: left;
    height: 350px;
    padding: 20px;
}
.card .card-img-top{
    width: 100%;
  //  max-width: 200px;
}

.hide-form {
  opacity:0;
  transition:opacity 1s linear;*
}